<% include ../partials/header %>

<h1><%=title%></h1>
<table style="width:100%" border="1">
  <tr>
    <th>first name</th>
    <th>last name</th>
    <th>phone</th>
    <th>Action</th>
  </tr>
  <% for(var i=0;i<use.length;i++){%>
  <tr>
    <td><%=use[i].first_name%></td>
    <td><%=use[i].last_name%></td>
    <td><%=use[i].phone %></td>
    <td><a href="/update/<%=use[i].id%>"> Update </a>||<a href="/delete/<%=use[i].id%>"> Delete </a></td>
  </tr>
  <% }%>
</table>
<% include form%>
<% include ../partials/footer %>
