<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Manual Express</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
       <div class="row">
         <div class="title" style="text-align: center;">
         </div>
         <br>
         <table class="table table-bordered">
           <thead>
             <th>ID</th>
             <th>First Name</th>
             <th>Last Name</th>
             <th>Phone</th>
             <th>Actions</th>
           </thead>
           <tbody>
             <% for(let i = 0; i < userData.length; i++){ %>
             <tr>
               <td><%= userData[i].id %></td>
               <td><%= userData[i].firstname %></td>
               <td><%= userData[i].lastname %></td>
               <td><%= userData[i].phone %></td>
               <td><a href="/update/<%= userData[i].id %>"
                 class="btn btn-primary">Update</a>&nbsp&nbsp&nbsp&nbsp<a href="/delete/<%= userData[i].id %>"
                   onclick="popup(<%= userData[i].id %>)" class="btn btn-danger">Delete</a></td>
             </tr>
             <% } %>
           </tbody>
         </table>
         <h2>Add User</h2>
         <form action="/add" method="post">
           <div class="form-group">
             <label for="first-name">First Name: </label>
             <input type="text" class="form-control" name="firstname" value="" placeholder="First Name">
           </div>
           <div class="form-group">
             <label for="last-name">Last Name: </label>
             <input type="text" class="form-control" name="lastname"  value="" placeholder="Last Name">
           </div>
           <div class="form-group">
             <label for="phone">Phone Number: </label>
             <input type="text" class="form-control" name="phone"  value="" placeholder="Phone Number">
           </div>
           <button type="submit" class="btn btn-primary">Submit</button>
         </form>
       </div>
     </div>
  </body>
</html>
